@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

html {
    background-color: #edd7d7;
    font-family: 'Libre Baskerville';
}

body {
    margin: 4rem;
}

h1 {
    color: red;
}

